body.dark-mode {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(../images/Kitchen_Desktop_Wallpaper__1_.png);
}

body.dark-mode .header {
	text-shadow: 0 0 15px rgba(255,255,255,.4);
}

body.dark-mode #palia-times-container > div {
	border: 2px solid var(--earthy-500);
	/* background-color: var(--earthy-500); */
	background-color: #3E2B24;
	color: var(--sun-kissed-paper);
}

body.dark-mode #palia-times-container > div:hover span {
	text-shadow: 0 0 15px rgba(255,255,255,.5);
}

body.dark-mode #settings-dialog {
	color: var(--sun-kissed-paper);
	background-color: #3E2B24;
	border: 5px solid var(--earthy-500);
}

body.dark-mode #settings-dialog .settings-item span:hover {
	text-shadow: 0 0 15px rgba(255,255,255,.8);
}